
        <!--<color-picker ng-model="color" color-picker-format="'hsv'"
        color-picker-alpha=" false"
        color-picker-swatch="true"    
        color-picker-case="'upper'"
        color-picker-on-change="onColorChange($event, color)">
      </color-picker>--> 

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="input-header">
          <img class="logotipo" src="images/gtb-logo.png" width="80" height="65" alt="GTB Logotipo">
          <input class="input-search" type="text" ng-model="toSearch" ng-keyup="$event.keyCode == 13 ? onTextChange() : null" name="">
          <button class="sbico-c" value="Search" aria-label="Google Search" id="_fZl" name="btnG" ng-click="onTextChange()"> <span class="sbico _wtf _Qtf"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></span> </button>
          <color-picker class="input-color" 
                        ng-model="color" 
                        color-picker-format="'hsv'"
                        color-picker-alpha=" false"
                        color-picker-swatch="true"    
                        color-picker-case="'upper'"
                        color-picker-on-change="onColorChange($event, color)">
          </color-picker>
           
      </div>
</nav>

<div class="container">
      <div class="row rows-found">
        <div class="col-xs-12 col-md-4 col-md-offset-0">About {{count}} results.</div>
      </div>
      <div class="row results">
          <div masonry>
              <a href="" class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="photo in photos">
                <img class="img-responsive image" ng-src="/images_gtb/{{photo.file_name}}" alt="{{photo._score}}">
                <span class="span">File Name: {{photo.file_name}}</span>
                <span class="span">Name: {{photo.image_description}}</span>
                <span class="span">Artist: {{photo.artist}}</span>
                <span class="span">Size: {{photo.file_size}}</span>
                <span class="span">Resolution: {{photo.x_resolution}} x {{photo.y_resolution}}</span>
              </a>  
          </div>
        </div>
      <div class="row button-search">
        <div class="load-more col-xs-offset-4 col-xs-4 col-md-1 col-md-offset-5" ng-hide="allResultsShown" ng-cloak>
          <a class="btn btn-primary" ng-click="loadMore()">More...</a>
        </div>
      </div>
</div>

